# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Firebase
serviceAccountKey.json

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo